In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dropzone\miniconda3\envs\datasciencester_env\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\dropzone\miniconda3\envs\datasciencester_env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dropzone\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dropzone\miniconda3\envs\datasciencester_env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dropzone\miniconda3\envs\datasciencester_env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dropzone\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

# Exemple : charger le CSV
df = pd.read_csv("./validation.csv")

In [6]:
df = df.rename(columns={"id": "file_name", "prompt": "text"})

In [7]:
df

      file_name                                               text
0      03885_00  A portrait of a slim brunette woman in her thi...
1      03252_00  A portrait of a slim white woman in her twenti...
2      08161_00  A portrait of a slim indian woman in her thirt...
3      02583_00  A portrait of an average black woman in her th...
4      12476_00  A portrait of a slim black woman in her thirti...
...         ...                                                ...
10800  07607_00  A portrait of a slim brunette woman in her thi...
10801  08451_00  A portrait of an average white woman in her th...
10802  11959_00  A portrait of a slim white woman in her thirti...
10803  08122_00  A portrait of a slim white woman in her twenti...
10804  08458_00  A portrait of an average white woman in her th...

[10805 rows x 2 columns]

In [8]:
df['file_name'] = df['file_name'].astype(str) + '.jpg'

# Sauvegarder le DataFrame modifié (optionnel)
df.to_csv("./train.csv", index=False)

In [9]:
df

          file_name                                               text
0      03885_00.jpg  A portrait of a slim brunette woman in her thi...
1      03252_00.jpg  A portrait of a slim white woman in her twenti...
2      08161_00.jpg  A portrait of a slim indian woman in her thirt...
3      02583_00.jpg  A portrait of an average black woman in her th...
4      12476_00.jpg  A portrait of a slim black woman in her thirti...
...             ...                                                ...
10800  07607_00.jpg  A portrait of a slim brunette woman in her thi...
10801  08451_00.jpg  A portrait of an average white woman in her th...
10802  11959_00.jpg  A portrait of a slim white woman in her thirti...
10803  08122_00.jpg  A portrait of a slim white woman in her twenti...
10804  08458_00.jpg  A portrait of an average white woman in her th...

[10805 rows x 2 columns]

In [ ]:
import os
import shutil
import pandas as pd

# Chemins à modifier selon ton cas
chemin_csv = "./validation.csv"
colonne_id = "file_name"  # nom de la colonne dans le CSV contenant les noms des images
dossier_source = "../VITON-HD-512/validation_images"
dossier_destination = "../VITON-HD-512/k_validations/"

# Lire le CSV
df = pd.read_csv(chemin_csv)

# S'assurer que le dossier destination existe
os.makedirs(dossier_destination, exist_ok=True)

# Boucler sur les IDs
for id_img in df[colonne_id]:
    # Si ce sont des IDs sans extension, ajoute une extension
    
    chemin_source = os.path.join(dossier_source, id_img)
    chemin_cible = os.path.join(dossier_destination, id_img)
    
    if os.path.exists(chemin_source):
        shutil.move(chemin_source, chemin_cible)  # ou shutil.copy() pour copier
        print(f"Déplacé : {id_img}")
    else:
        print(f"Fichier introuvable : {id_img}")

In [ ]:
for k in range(0,1):
    print(f"validation_{k}")
    
    import os
    import shutil
    import pandas as pd

    # Chemins à modifier selon ton cas
    chemin_csv = f"./validation_{k}.csv"
    colonne_id = "file_name" 
    dossier_source = "../VITON-HD-512/validation_images"
    dossier_destination = f"../VITON-HD-512/k_validations/validation_{k}"

    # Lire le CSV
    df = pd.read_csv(chemin_csv)

    # S'assurer que le dossier destination existe
    os.makedirs(dossier_destination, exist_ok=True)

    # Boucler sur les IDs
    for id_img in df[colonne_id]:
        # Si ce sont des IDs sans extension, ajoute une extension

        chemin_source = os.path.join(dossier_source, id_img)
        chemin_cible = os.path.join(dossier_destination, id_img)

        if os.path.exists(chemin_source):
            shutil.move(chemin_source, chemin_cible)  # ou shutil.copy() pour copier
            print(f"Déplacé : {id_img}")
        else:
            print(f"Fichier introuvable : {id_img}")


    df.to_csv(f"../VITON-HD-512/k_validations/validation_{k}/validation_{k}.csv", index=False)