In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./labels.csv')

In [3]:
df

             id gender age_group      race    body_shape
0      00001_00  woman  twenties     white       average
1      06679_00  woman  twenties     white       average
2      00006_00  woman  twenties     white          slim
3      06749_00  woman  twenties     white          slim
4      07212_00  woman  twenties     white          slim
...         ...    ...       ...       ...           ...
13681  12193_00  woman  twenties     white          slim
13682  12690_00  woman  thirties     white     maternity
13683  14152_00  woman  twenties     white          slim
13684  14243_00  woman  thirties     white  full-figured
13685  14381_00    man  thirties  brunette       unknown

[13686 rows x 5 columns]

In [6]:
unique_age = df['age_group'].unique()

In [8]:
unique_age

array(['twenties', 'thirties', 'forties', 'woman', 'thorties',
       'tthirties', 'twnetis', 'twwenties'], dtype=object)

In [9]:
unique_sex = df['gender'].unique()
unique_sex

array(['woman', 'woman.', 'man'], dtype=object)

In [10]:
unique_body_shape = df['body_shape'].unique()
unique_body_shape

array(['average', 'slim', 'maternity', 'full-figured', 'plus-size',
       'full-figures'], dtype=object)

In [11]:
ids = df[df['age_group'] == 'woman']['id']

In [12]:
ids

10833    13518_00
10834    14411_00
Name: id, dtype: object