In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./labels.csv')
df

             id gender age_group      race    body_shape
0      00001_00  woman  twenties     white       average
1      06679_00  woman  twenties     white       average
2      00006_00  woman  twenties     white          slim
3      06749_00  woman  twenties     white          slim
4      07212_00  woman  twenties     white          slim
...         ...    ...       ...       ...           ...
13681  12193_00  woman  twenties     white          slim
13682  12690_00  woman  thirties     white     maternity
13683  14152_00  woman  twenties     white          slim
13684  14243_00  woman  thirties     white  full-figured
13685  14381_00    man  thirties  brunette       unknown

[13686 rows x 5 columns]

In [3]:
for col in df.columns:
    print(f'unique values for:{col}')
    print(df[col].unique())
    print('-'*30)

unique values for:id
['00001_00' '06679_00' '00006_00' ... '14152_00' '14243_00' '14381_00']
------------------------------
unique values for:gender
['woman' 'woman.' 'man']
------------------------------
unique values for:age_group
['twenties' 'thirties' 'forties' 'thorties' 'tthirties' 'twnetis'
 'twwenties' 'therties' 'senior' 'unknown']
------------------------------
unique values for:race
['white' 'brunette' 'black' 'asian' 'indian' 'beunette' 'white4'
 'brunettes' 'unknown']
------------------------------
unique values for:body_shape
['average' 'slim' 'maternity' 'full-figured' 'plus-size' 'full-figures'
 'unknown']
------------------------------

In [4]:
corrections = {
    'gender': {
        'woman.': 'woman',
    },
    'age_group': {
        'thorties': 'thirties',
        'tthirties': 'thirties',
        'therties': 'thirties',
        'twnetis': 'twenties',
        'twwenties': 'twenties',
        'thorties': 'thirties'
    },
    'race': {
        'beunette': 'brunette',
        'brunettes': 'brunette',
        'white4': 'white'
    },
    'body_shape': {
        'full-figures': 'full-figured'
    }
}

In [5]:
for col, mapping in corrections.items():
    df[col]=df[col].replace(mapping)

In [6]:
df

             id gender age_group      race    body_shape
0      00001_00  woman  twenties     white       average
1      06679_00  woman  twenties     white       average
2      00006_00  woman  twenties     white          slim
3      06749_00  woman  twenties     white          slim
4      07212_00  woman  twenties     white          slim
...         ...    ...       ...       ...           ...
13681  12193_00  woman  twenties     white          slim
13682  12690_00  woman  thirties     white     maternity
13683  14152_00  woman  twenties     white          slim
13684  14243_00  woman  thirties     white  full-figured
13685  14381_00    man  thirties  brunette       unknown

[13686 rows x 5 columns]

In [7]:
for col in df.columns:
    print(f'unique values for:{col}')
    print(df[col].unique())
    print('-'*30)

unique values for:id
['00001_00' '06679_00' '00006_00' ... '14152_00' '14243_00' '14381_00']
------------------------------
unique values for:gender
['woman' 'man']
------------------------------
unique values for:age_group
['twenties' 'thirties' 'forties' 'senior' 'unknown']
------------------------------
unique values for:race
['white' 'brunette' 'black' 'asian' 'indian' 'unknown']
------------------------------
unique values for:body_shape
['average' 'slim' 'maternity' 'full-figured' 'plus-size' 'unknown']
------------------------------

In [8]:
df[df['age_group']=='unknown']

             id gender age_group     race body_shape
13644  14541_00    man   unknown  unknown    unknown

In [9]:
df[df['race']=='unknown']

             id gender age_group     race body_shape
13644  14541_00    man   unknown  unknown    unknown

In [10]:
df[df['body_shape']=='unknown']

             id gender age_group      race body_shape
13187  05760_00  woman  twenties     asian    unknown
13644  14541_00    man   unknown   unknown    unknown
13685  14381_00    man  thirties  brunette    unknown

In [11]:
df.loc[df['id']=='05760_00', ['race', 'body_shape']] = ['brunette', 'slim']

In [12]:
df[df['id']=='05760_00']

             id gender age_group      race body_shape
13187  05760_00  woman  twenties  brunette       slim

In [13]:
df.shape[0]

13686

In [14]:
df[df.duplicated(keep=False)]

             id gender age_group      race body_shape
6871   01270_00  woman  twenties  brunette       slim
7323   00081_00  woman  thirties     black       slim
7324   00121_00  woman  thirties     black       slim
8918   00930_00  woman  twenties     black       slim
11241  00081_00  woman  thirties     black       slim
11247  00121_00  woman  thirties     black       slim
11346  00930_00  woman  twenties     black       slim
11385  01270_00  woman  twenties  brunette       slim

In [15]:
df = df.drop_duplicates(keep='first')

In [16]:
df.shape[0]

13682

In [17]:
df[df.duplicated(subset=['id'], keep=False)]

             id gender age_group      race body_shape
7036   01212_00  woman  thirties     black       slim
9489   01040_00  woman  twenties     white    average
9576   01229_00  woman  thirties  brunette       slim
11360  01040_00  woman  thirties  brunette  maternity
11372  01212_00  woman  twenties     white       slim
11374  01229_00  woman  twenties  brunette       slim

In [18]:
df = df.drop_duplicates(subset=['id'], keep='first')

In [19]:
df[df.duplicated(subset=['id'], keep=False)]

Empty DataFrame
Columns: [id, gender, age_group, race, body_shape]
Index: []

In [20]:
df.shape[0]

13679

In [21]:
df.to_csv('preprocessed.csv', index=False)

In [22]:
df = pd.read_csv('./preprocessed.csv')

In [23]:
man_df = df[df['gender']=='man']

In [24]:
man_df

             id gender age_group      race body_shape
10825  12258_00    man  thirties     white    average
10826  12367_00    man  thirties     white    average
11245  00120_00    man  thirties     white    average
11249  00153_00    man  twenties     black    average
11308  00669_00    man  thirties     white    average
11708  05752_00    man  thirties     white    average
12989  01795_00    man  twenties     white    average
13021  02515_00    man  thirties     white    average
13023  02545_00    man  thirties  brunette    average
13063  03334_00    man  thirties  brunette    average
13162  05310_00    man  thirties     white    average
13212  06356_00    man  thirties     white    average
13285  07930_00    man  thirties     white    average
13291  08026_00    man  twenties     white    average
13392  10129_00    man  thirties     white    average
13421  10698_00    man  thirties     white    average
13455  11376_00    man  twenties  brunette       slim
13458  11476_00    man  thirties     white    average
13637  14541_00    man   unknown   unknown    unknown
13678  14381_00    man  thirties  brunette    unknown

In [25]:
man_df.shape[0]

20

In [26]:
woman_df = df[df['gender']=='woman']
woman_df

             id gender age_group   race    body_shape
0      00001_00  woman  twenties  white       average
1      06679_00  woman  twenties  white       average
2      00006_00  woman  twenties  white          slim
3      06749_00  woman  twenties  white          slim
4      07212_00  woman  twenties  white          slim
...         ...    ...       ...    ...           ...
13673  12133_00  woman  twenties  white          slim
13674  12193_00  woman  twenties  white          slim
13675  12690_00  woman  thirties  white     maternity
13676  14152_00  woman  twenties  white          slim
13677  14243_00  woman  thirties  white  full-figured

[13659 rows x 5 columns]

In [27]:
woman_df.shape[0]

13659

In [28]:
woman_df

             id gender age_group   race    body_shape
0      00001_00  woman  twenties  white       average
1      06679_00  woman  twenties  white       average
2      00006_00  woman  twenties  white          slim
3      06749_00  woman  twenties  white          slim
4      07212_00  woman  twenties  white          slim
...         ...    ...       ...    ...           ...
13673  12133_00  woman  twenties  white          slim
13674  12193_00  woman  twenties  white          slim
13675  12690_00  woman  thirties  white     maternity
13676  14152_00  woman  twenties  white          slim
13677  14243_00  woman  thirties  white  full-figured

[13659 rows x 5 columns]

In [29]:
woman_df.to_csv('./preprocessed.csv', index=False)

In [30]:
df = pd.read_csv('./preprocessed.csv')

In [31]:
ids_in_df = set(df['id'])

In [32]:
import os
duplicated_imgs = [img.split('.')[0] for img in os.listdir('../duplicated_images/')]
duplicated_ids = set(duplicated_imgs)

In [33]:
df = df.drop(df[df['id'].isin(duplicated_imgs)].index)

In [34]:
df

             id gender age_group   race    body_shape
0      00001_00  woman  twenties  white       average
1      06679_00  woman  twenties  white       average
2      00006_00  woman  twenties  white          slim
3      06749_00  woman  twenties  white          slim
4      07212_00  woman  twenties  white          slim
...         ...    ...       ...    ...           ...
13654  12133_00  woman  twenties  white          slim
13655  12193_00  woman  twenties  white          slim
13656  12690_00  woman  thirties  white     maternity
13657  14152_00  woman  twenties  white          slim
13658  14243_00  woman  thirties  white  full-figured

[13524 rows x 5 columns]

In [35]:
missing_ids = duplicated_ids - ids_in_df

print("IDs des images dupliquÃ©es non trouvÃ©es dans le DataFrame :", missing_ids)

IDs des images dupliquÃ©es non trouvÃ©es dans le DataFrame : set()

In [36]:
df.to_csv('./preprocessed.csv', index=False)

In [37]:
import pandas as pd 
import os

In [38]:
images_folder = '../images/'
df = pd.read_csv('./preprocessed_2.csv')

In [39]:
valid_ids = set(df['id'].astype(str))

In [40]:
for filename in os.listdir(images_folder):
    if filename.endswith(".jpg"):
        image_id = os.path.splitext(filename)[0]  
        if image_id not in valid_ids:
            file_path = os.path.join(images_folder, filename)
            os.remove(file_path)
            print(f"SupprimÃ© : {filename}")

SupprimÃ© : 00058_00.jpg
SupprimÃ© : 00120_00.jpg
SupprimÃ© : 00153_00.jpg
SupprimÃ© : 00588_00.jpg
SupprimÃ© : 00669_00.jpg
SupprimÃ© : 00756_00.jpg
SupprimÃ© : 00778_00.jpg
SupprimÃ© : 01008_00.jpg
SupprimÃ© : 01260_00.jpg
SupprimÃ© : 01261_00.jpg
SupprimÃ© : 01361_00.jpg
SupprimÃ© : 01680_00.jpg
SupprimÃ© : 01795_00.jpg
SupprimÃ© : 01870_00.jpg
SupprimÃ© : 01932_00.jpg
SupprimÃ© : 01947_00.jpg
SupprimÃ© : 02016_00.jpg
SupprimÃ© : 02515_00.jpg
SupprimÃ© : 02520_00.jpg
SupprimÃ© : 02521_00.jpg
SupprimÃ© : 02545_00.jpg
SupprimÃ© : 02772_00.jpg
SupprimÃ© : 02773_00.jpg
SupprimÃ© : 03334_00.jpg
SupprimÃ© : 03360_00.jpg
SupprimÃ© : 03444_00.jpg
SupprimÃ© : 03454_00.jpg
SupprimÃ© : 03528_00.jpg
SupprimÃ© : 03696_00.jpg
SupprimÃ© : 03806_00.jpg
SupprimÃ© : 03865_00.jpg
SupprimÃ© : 04032_00.jpg
SupprimÃ© : 04033_00.jpg
SupprimÃ© : 04200_00.jpg
SupprimÃ© : 04264_00.jpg
SupprimÃ© : 04452_00.jpg
SupprimÃ© : 04788_00.jpg
SupprimÃ© : 05310_00.jpg
SupprimÃ© : 05520_00.jpg
SupprimÃ© : 05594_00.jpg
SupprimÃ© : 05752_00.jpg
SupprimÃ© : 05773_00.jpg
SupprimÃ© : 05789_00.jpg
SupprimÃ© : 05796_00.jpg
SupprimÃ© : 05880_00.jpg
SupprimÃ© : 05972_00.jpg
SupprimÃ© : 06132_00.jpg
SupprimÃ© : 06356_00.jpg
SupprimÃ© : 06384_00.jpg
SupprimÃ© : 06636_00.jpg
SupprimÃ© : 06720_00.jpg
SupprimÃ© : 06932_00.jpg
SupprimÃ© : 07035_00.jpg
SupprimÃ© : 07056_00.jpg
SupprimÃ© : 07308_00.jpg
SupprimÃ© : 07309_00.jpg
SupprimÃ© : 07310_00.jpg
SupprimÃ© : 07476_00.jpg
SupprimÃ© : 07560_00.jpg
SupprimÃ© : 07561_00.jpg
SupprimÃ© : 07728_00.jpg
SupprimÃ© : 07729_00.jpg
SupprimÃ© : 07730_00.jpg
SupprimÃ© : 07930_00.jpg
SupprimÃ© : 07953_00.jpg
SupprimÃ© : 07980_00.jpg
SupprimÃ© : 07981_00.jpg
SupprimÃ© : 07982_00.jpg
SupprimÃ© : 07984_00.jpg
SupprimÃ© : 08026_00.jpg
SupprimÃ© : 08076_00.jpg
SupprimÃ© : 08148_00.jpg
SupprimÃ© : 08645_00.jpg
SupprimÃ© : 08652_00.jpg
SupprimÃ© : 08736_00.jpg
SupprimÃ© : 08808_00.jpg
SupprimÃ© : 08879_00.jpg
SupprimÃ© : 08989_00.jpg
SupprimÃ© : 08990_00.jpg
SupprimÃ© : 08991_00.jpg
SupprimÃ© : 08992_00.jpg
SupprimÃ© : 09101_00.jpg
SupprimÃ© : 09157_00.jpg
SupprimÃ© : 09158_00.jpg
SupprimÃ© : 09159_00.jpg
SupprimÃ© : 09160_00.jpg
SupprimÃ© : 09379_00.jpg
SupprimÃ© : 09492_00.jpg
SupprimÃ© : 09493_00.jpg
SupprimÃ© : 09494_00.jpg
SupprimÃ© : 09660_00.jpg
SupprimÃ© : 09744_00.jpg
SupprimÃ© : 09828_00.jpg
SupprimÃ© : 09996_00.jpg
SupprimÃ© : 09998_00.jpg
SupprimÃ© : 09999_00.jpg
SupprimÃ© : 10129_00.jpg
SupprimÃ© : 10332_00.jpg
SupprimÃ© : 10341_00.jpg
SupprimÃ© : 10380_00.jpg
SupprimÃ© : 10500_00.jpg
SupprimÃ© : 10501_00.jpg
SupprimÃ© : 10503_00.jpg
SupprimÃ© : 10539_00.jpg
SupprimÃ© : 10668_00.jpg
SupprimÃ© : 10670_00.jpg
SupprimÃ© : 10671_00.jpg
SupprimÃ© : 10698_00.jpg
SupprimÃ© : 11088_00.jpg
SupprimÃ© : 11089_00.jpg
SupprimÃ© : 11090_00.jpg
SupprimÃ© : 11091_00.jpg
SupprimÃ© : 11340_00.jpg
SupprimÃ© : 11376_00.jpg
SupprimÃ© : 11424_00.jpg
SupprimÃ© : 11476_00.jpg
SupprimÃ© : 11508_00.jpg
SupprimÃ© : 11509_00.jpg
SupprimÃ© : 11510_00.jpg
SupprimÃ© : 11511_00.jpg
SupprimÃ© : 11676_00.jpg
SupprimÃ© : 11677_00.jpg
SupprimÃ© : 11678_00.jpg
SupprimÃ© : 11928_00.jpg
SupprimÃ© : 11929_00.jpg
SupprimÃ© : 11930_00.jpg
SupprimÃ© : 11931_00.jpg
SupprimÃ© : 11932_00.jpg
SupprimÃ© : 11933_00.jpg
SupprimÃ© : 11934_00.jpg
SupprimÃ© : 12133_00.jpg
SupprimÃ© : 12180_00.jpg
SupprimÃ© : 12181_00.jpg
SupprimÃ© : 12182_00.jpg
SupprimÃ© : 12183_00.jpg
SupprimÃ© : 12184_00.jpg
SupprimÃ© : 12185_00.jpg
SupprimÃ© : 12193_00.jpg
SupprimÃ© : 12258_00.jpg
SupprimÃ© : 12264_00.jpg
SupprimÃ© : 12367_00.jpg
SupprimÃ© : 12516_00.jpg
SupprimÃ© : 12517_00.jpg
SupprimÃ© : 12600_00.jpg
SupprimÃ© : 12601_00.jpg
SupprimÃ© : 12936_00.jpg
SupprimÃ© : 12937_00.jpg
SupprimÃ© : 12938_00.jpg
SupprimÃ© : 12939_00.jpg
SupprimÃ© : 13020_00.jpg
SupprimÃ© : 13021_00.jpg
SupprimÃ© : 13047_00.jpg
SupprimÃ© : 13065_00.jpg
SupprimÃ© : 13104_00.jpg
SupprimÃ© : 13105_00.jpg
SupprimÃ© : 13240_00.jpg
SupprimÃ© : 13293_00.jpg
SupprimÃ© : 13366_00.jpg
SupprimÃ© : 13453_00.jpg
SupprimÃ© : 13608_00.jpg
SupprimÃ© : 13776_00.jpg
SupprimÃ© : 14041_00.jpg
SupprimÃ© : 14112_00.jpg
SupprimÃ© : 14196_00.jpg
SupprimÃ© : 14197_00.jpg
SupprimÃ© : 14198_00.jpg
SupprimÃ© : 14364_00.jpg
SupprimÃ© : 14366_00.jpg
SupprimÃ© : 14381_00.jpg
SupprimÃ© : 14471_00.jpg
SupprimÃ© : 14541_00.jpg